@use "../utils/variables.scss" as variables;

@mixin box-shadow ($border-color) {
    -webkit-box-shadow: 0px 0px 4px 2px $border-color;
    box-shadow: 0px 0px 4px 2px $border-color;
}

@mixin box ($color) {
    -webkit-box-shadow: 0px 0px 4px 1px variables.$color;
    box-shadow: 0px 0px 4px 1px variables.$color;
}

@mixin logo-style {
  display: flex;
  align-items: center;
  text-decoration: none;

  img {
    width: 50px;
  }

  h1 {
    font-size: variables.$text;
    text-transform: uppercase;
    color: variables.$text-main;
  }
}

@mixin tablet {
    @media (min-width: 768px) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: 1024px) {
        @content;
    }
}

@mixin background-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
