$primary: #e21235;
$background-white: #fff;
$background-light: #fcf8f9;
$background-dark: #221013;
$text-main: #1b0d10;
$text-muted: #6b5e61;
$text-secondary: #9a4c59;

$title1: 2.4em;
$title2: 1.8em;
$title3: 1.6em;
$text: 1.1em;
$text2: 0.8em;
$uppercase: uppercase;
$letter-spacing: 1px;

$font-family: Manrope, sans-serif;
$font-bold: bold;
$border-box: border-box;
$border-radius: 0.25rem;
$border-radius2: 0.50rem;

$pointer: pointer;

$tablet: 768px;
$desktop: 1024px;