@use "../utils/variables.scss" as variables;
@use '../utils/mixins.scss' as mixins;

.gender-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    box-sizing: variables.$border-box;

    .section-gender-top {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            color: variables.$background-white;

            .gender-main-img {
                width: 90%;
                height: 230px;
                object-fit: cover;
                border-radius: variables.$border-radius2;
            }
        
            .gender-title {
                position: absolute;
                top: 45px;
                font-family: sans-serif;
                font-size: variables.$title1;
                text-align: center;
                margin-top: 2px;
            }
        
            .gender-title + p {
                width: 75%;
                position: absolute;
                top: 45px;
                font-size: 0.95rem;
                margin-top: 55px;
                padding: 3px;
                box-sizing: variables.$border-box;
                letter-spacing: variables.$letter-spacing;
                text-align: center;
            }
    }



    .btn-categories {
        width: 95%;
        padding: 10px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 10px;
    }

    .btn-categories h2 {
        text-align: center;
        font-size: variables.$title3;
        color: #d4c382;
    }

    .btn-categories a {
        text-decoration: none;
        width: 45%;
    }

    button {
        width: 100%;
        background-color: variables.$text-main;
        color: #fff;
        border: 1px solid variables.$background-dark;
        padding: 6px;
    }
}