@use "../utils/variables.scss" as variables;
@use '../utils/mixins.scss' as mixins;

.gender-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    box-sizing: variables.$border-box;
    font-family: variables.$font-family;

    .gender-link {
        display: block;
        width: 100%;
        text-decoration: none;
        color: variables.$background-white;
    }

    .section-gender-top {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            color: variables.$background-white;


            .gender-main-img {
                width: 90%;
                height: 245px;
                object-fit: cover;
                border-radius: variables.$border-radius2;
            }
        
            .gender-title {
                position: absolute;
                top: 45px;
                font-family: sans-serif;
                font-size: variables.$title1;
                text-align: center;
                margin-top: 2px;
            }
        
            .gender-title + p {
                width: 85%;
                position: absolute;
                top: 45px;
                font-size: 0.95rem;
                margin-top: 55px;
                padding: 3px;
                box-sizing: variables.$border-box;
                letter-spacing: variables.$letter-spacing;
                text-align: center;
            }
    }



    .btn-categories {
        width: 90%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 0.25rem;
        padding: 10px;
        margin-top: 1.5rem;
        box-sizing: variables.$border-box;
    }

    .btn-categories h3 {
        font-size: variables.$text2;
        text-transform: uppercase;
        color: variables.$text-muted;
        font-weight: variables.$font-bold;
        font-family: variables.$font-family;
        letter-spacing: 0.4px;
    }

    .category-link {
        display: flex;
        justify-content: space-between;
        text-decoration: none;
        color: variables.$text-main;
        font-size: variables.$text2;
        padding: 10px 0px;

        span {
            color: variables.$text-muted;
        }
    }

    // button {
    //     width: 100%;
    //     background-color: variables.$text-main;
    //     color: #fff;
    //     border: 1px solid variables.$background-dark;
    //     padding: 6px;
    // }
}